In [2]:
import pandas as pd 
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,-2,77,78,101]
Gradelist = zip(names,grades)
df = pd.DataFrame(data = GradeList, columns=['Names','Grades'])
df

df.loc[(df['Grades'] >= 100,'Grades')] = 100
df.loc[(df['Grades'] < 0,'Grades')] = 0

NameError: name 'GradeList' is not defined

In [3]:
import pandas as pd 
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,-2,77,78,101]
Gradelist = zip(names,grades)
df = pd.DataFrame(data = GradeList, columns=['Names','Grades'])
df

NameError: name 'GradeList' is not defined

In [4]:
import pandas as pd 
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,-2,77,78,101]
GradeList = zip(names,grades)
df = pd.DataFrame(data = GradeList,columns=['Names','Grades'])
df

     Names  Grades
0      Bob      76
1  Jessica      -2
2     Mary      77
3     John      78
4      Mel     101

In [5]:
df.loc[(df['Grades'] < 0),'Grades'] = 0
df.head()

     Names  Grades
0      Bob      76
1  Jessica       0
2     Mary      77
3     John      78
4      Mel     101

In [6]:
df.loc[(df['Grades'] >= 100),'Grades'] = 100
df.head()

     Names  Grades
0      Bob      76
1  Jessica       0
2     Mary      77
3     John      78
4      Mel     100